<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated eDFDFlowTracking -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="eDFDFlowTracking.presentation.EDFDFlowTrackingModelWizardID"
            name="%_UI_EDFDFlowTrackingModelWizard_label"
            class="eDFDFlowTracking.presentation.EDFDFlowTrackingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EDFDFlowTrackingModelFile.gif">
         <description>%_UI_EDFDFlowTrackingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated eDFDFlowTracking -->
      <editor
            id="eDFDFlowTracking.presentation.EDFDFlowTrackingEditorID"
            name="%_UI_EDFDFlowTrackingEditor_label"
            icon="icons/full/obj16/EDFDFlowTrackingModelFile.gif"
            extensions="edfdflowtracking"
            class="eDFDFlowTracking.presentation.EDFDFlowTrackingEditor"
            contributorClass="eDFDFlowTracking.presentation.EDFDFlowTrackingActionBarContributor">
      </editor>
   </extension>
</plugin>
